# OS
.DS_Store
.Thumbs.db
._*

# Dependencies
/vendor/
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.sublime-workspace
*.swp

# Logs
*.log
debug.log
error_log

# Config
wp-config.php

# Local
local-config.php
.env
